h1, h2, h3{
    text-align: center;
}

span.grn{
    color: green;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-header{
    padding: 30px;
}

.carousel-inner img{
    width: 100%;
}

.carousel h3{
    color: black;
}

#demo ul li{
    background-color: grey  !important;
}

#video{
    margin-left: auto;
    margin-right: auto;
}

#function-definitions p{
    margin-left: 10px;
}

#editor {
    width: 400px;
    height: 100px;
    padding: 10px;
    background-color: #444;
    color: white;
    font-size: 14px;
    font-family: monospace;
}
.statement {
    color: orange;
}

.carousel-item img{
    float: middle;
    
}

.jumbotron{
    background-color: #343A40 !important;
    color: white;
}


.indexbox{
    background-color: cornflowerblue;
    border-radius: 30px;
    text-align: center;
    border: none;
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indeximg{
    position: relative;
    top: 5px;
}
